@import '../../App.scss';
#search-container {
    display: flex;
    background: $main-color;
    width: 100%;
    min-height: 4rem;
    margin-bottom: 1em;
    flex-direction: row;
    padding: .5em;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    .multi-select {
        align-self: center;
        margin: 0 1em;
        min-width: 150px;
        &:focus, &:hover {
            outline: none;
            border: none;
        }
    }
}