#dog-card-container {
    border: 1px solid rgb(190, 190, 190);
    width: 15rem;
    height: 20rem;
    overflow: hidden;
    border-radius: 10px;

    .dog-card {
        text-align: center;
        img {
            width: 100%;
            height: 250px;
        }
    }
}