@font-face {
    font-family: 'Roboto';
    src: url('../../assets/fonts/Roboto-Regular.ttf');
}
.divider {
    width: 50%;
    border-bottom: 1px solid rgb(201, 201, 201);
    margin: 0 auto;
}

.missing-image-icon {
    background-image: url('../../assets/icons/dog.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 64px;
}

.a-btn {
    display: block;
    text-align: center;
    padding: .5em;
    background: darken($color: #FF5151, $amount: 5%);
    text-decoration: none;
    color: white;
    font-family: 'Roboto';
    width: 80px;
    margin: 1em auto;
}

#animal-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .animal-card {
        border: 1px solid rgb(201, 201, 201);
        width: 300px;
        padding: 1em;
        border-radius: 10px;
        margin: .1em;
        text-align: left;
        h2, h3 {
            font-weight: 400;
            text-align: center;
            font-family: 'Roboto';
            span {
                color: #FF5151;
            }
        }
        .description {
            text-align: left;
            font-size: 90%;
            font-family: 'Roboto';
            line-height: 1.5em;
            width: 85%;
            margin: 0 auto;
        }
        img {
            width: 100px;
            height: auto;
            display: block;
            margin: 0 auto;
            margin-top: 1em;
        }
    }
}