$main-color: #FF5151;

@font-face {
    font-family: 'Roboto';
    src: url('../src/assets/fonts/Roboto-Regular.ttf');
}
.divider {
    width: 50%;
    border-bottom: 1px solid rgb(201, 201, 201);
    margin: 0 auto;
}

.a-btn {
    display: block;
    text-align: center;
    padding: 1em;
    background: darken($color: $main-color, $amount: 5%);
    text-decoration: none;
    color: white;
    font-family: 'Roboto';
    width: 80px;
    margin: 0 auto;
    margin-bottom: 1em;
    border: none;
    &:hover {
        cursor: pointer;
    }
}

#wrapper {
    padding: 0;
    margin: 0;
}